<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <permission
        android:name="com.qoder.sogousym.permission.RECOVERY_CLEANUP"
        android:protectionLevel="signature" />

    <queries>
        <package android:name="com.sohu.inputmethod.sogou" />
    </queries>

    <application
        android:label="搜狗符号"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:hasCode="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboardHidden|density|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".ConfigProvider"
            android:authorities="com.qoder.sogousym.config"
            android:exported="true" />

        <!-- Enabled only for the root recovery operation, then returned to this disabled default. -->
        <service
            android:name="android.inputmethodservice.InputMethodService"
            android:label="输入法状态刷新"
            android:enabled="false"
            android:exported="true"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/recovery_input_method" />
        </service>

        <receiver
            android:name=".InputMethodRecoveryReceiver"
            android:exported="true"
            android:permission="com.qoder.sogousym.permission.RECOVERY_CLEANUP" />

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Customize Sogou IME 26-key long-press symbols" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposedscope" />
    </application>
</manifest>
